.login {
	background-image: url(/public/image/bg-login.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.bg-login {
	background-color: rgba(255, 255, 255, 0.7);
}
.register {
	background-image: url(https://autopro8.mediacdn.vn/2019/1/9/13999f3b-2020-mercedes-cla-07-1547028664859629698997.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-register {
	background-color: rgba(255, 255, 255, 0.7);
}

table,
th,
tr {
	border: 1px solid;
	padding: 10px;
	text-align: center;
}

.quanly:hover .con {
	display: block;
	background-color: white;
	position: absolute;
}

.con {
	display: none;
}

table {
	border-collapse: collapse;
	border-radius: 5px;
	/* border: none; */

	border-color: #eaecf0;
}
th,
td {
	box-shadow: 0 1px 0 #e5e9f2;
	height: 50px;
	border-color: #eaecf0;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.title_main{
	position: relative;
	text-align: center;
}

.title_main:before{
	content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 9px;
    width: 50%;
    border-top: 1px solid #2b2e4a;
    border-bottom: 1px solid #2b2e4a;
}

.title_main h1{
	margin: 0 auto;
    z-index: 2;
    font-size: 20px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #2b2e4a;
    line-height: 120%;
    padding: 20px 50px;
    width: auto;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: inset 0 3px 0 0 #2b2e4a, inset 0 -3px 0 0 #2b2e4a;
}

.title_main h1:before,
.title_main h1:after{
	content: "";
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    background: #fff;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: -63px;
    margin: auto 0;
    border: 4px solid #2b2e4a;
    transform: rotate(45deg) skew(26deg,26deg);
}

.title_main h1:after{
	left: auto;
	right: -63px;
}

.title_main::after{
	content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 1px;
    width: 70%;
    background: #2b2e4a;
}

.title_main h1 span {
	position: relative;
    vertical-align: top;
}
.footer{
	background-image: url(/public/image/bg-footer.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.hidden-row {
    display: none;
}

.session{
	background-image: url(/public/image/paner.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slide-container {
	display: flex;
	overflow-x: scroll; /* Cho phép cuộn ngang khi nội dung vượt quá khung */
	scroll-behavior: smooth; /* Tạo hiệu ứng cuộn mượt */
	transition: transform 0.3s ease; /* Thời gian và kiểu chuyển đổi có thể thay đổi tùy ý */
  }
  
  .slide-item {
	flex: 0 0 auto;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	display: inline-block; /* Hiển thị các phần tử cạnh nhau */
  }