@media screen and (min-width: 1024px){
    .nav_header{
        display : block;
    }

    .header_nav{
        display : none;
    }

    .newreposive{
      display: none;
    }

    .postmanagementResponsive{
      display: none;
    }

    .DetailResponsive{
      display: none;
    }
    .EditUserResponsive{
      display: none;
    }
}
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(204, 204, 204);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 120px;
  background: #2B2E4A;
}
.nav__brand {
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

/* Active Class */
.nav__active {
  transform: translateX(0%);
  z-index : 10;
  padding-bottom: 20px;
}

/* @media screen and (min-width: 768px) and (max-width: 1023px) {
    .nav_header{
        display : none ;
    }

    .header_nav{
        display : block;
    }
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 16vh;
    right: 0;
    width: 50vw;
    background: #2B2E4A;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    z-index: 10;
  }
  .title_main h1{
    font-size: 13px !important;
    padding: 17px 43px !important;
  }
  .footer_responsive{
    flex-flow: row wrap;
  }

  .footer{
    height: 600px;
  }

  .footer img{
    width: 150px;
  }

  .lien_he{
    margin-left: 30%;
    margin-top: 30px;
  }

  .nav__brand img{
    width: 150px;
  }
  .session-main h1{
    font-size: 35px;
  }

  .session-main h3{
    font-size: 20px;
  }
  
  .session-main p{
    font-size: 15px;
  }

  .session-main button{
    font-size: 15px;
  }
  .new-responsive{
    width: 300px;
  }
  .new-content h1,p{
    font-size: 15px !important;
  }
  .session{
    background-size: 1023px !important;
    height: 500px !important;
  }
  .session-main{
    padding: 130px 0 0 100px !important;
  }
} */


@media screen and (max-width: 767px) {
  .nav_header{
      display : none ;
  }

  .header_nav{
      display : block;
  }
.nav__toggler {
  display: block;
  cursor: pointer;
}
.nav__menu {
  position: fixed;
  top: 18vh;
  right: 0;
  width: 50vw;
  background: #2B2E4A;
  flex-direction: column;
  transform: translateX(100%);
  transition: 0.5s ease-in;
  z-index: 10;
}
.title_main h1{
  font-size: 10px !important;
  padding: 15px 20px !important;
}

.title_main span{
  padding: 0px 10px 
}
.footer_responsive{
  flex-direction: column;
  gap: 20px;
}

.footer{
  height: 530px;
}

.footer img{
  width: 120px;
}

.lien_he{
  margin-left: 130px !important;
}

.nav__brand img{
  width: 150px;
}

.footer_responsive{
  flex-flow: row wrap;
}

.footer_responsive2 a, p{
  font-size: 13px;
}

.footer_responsive2 h1{
  font-size: 14px;
}

.session-main h1{
  font-size: 26px;
}

.session-main h3{
  font-size: 15px;
}

.session-main p{
  font-size: 13px;
}

.session-main button{
  font-size: 13px;
  width: 130px;
}

.session{
  background-size: 767px !important;
  height: 377px !important;
}

.session-main{
  padding: 80px 0 0 100px !important;
}

.main-car{
  flex-wrap: wrap;
}

.main-responsive h1{
  font-size: 15px;
}

  .main-responsive p{
    font-size: 15px;
  }

  .newreposive{
    display: block;
  }

  .newreposive2{
    display: none;
  }

  .search-mana{
    margin-left: 290px;
  }

  .search-mana i{
    right: 25px !important;
  }

  .postmanagement{
    display: none;
  }

  .postmanagementResponsive{
    display: block;
  }

  .detail{
    width: 350px !important;
  }

  .detail img{
    height: 200px !important;
  }

  .detail h1{
    font-size: 18px !important;
  }

  .detail-inf {
    width: 180px !important;
    height: 200px !important;
  }

  .detail-inf h1,p,a{
    font-size: 15px !important;
  }

  .DetailResponsive{
    display: none;
  }

  .EditUserResponsive{
    display: none;
  }


  /* Thêm hiệu ứng chuyển slide
.new-responsive-container {
  display: flex;
  overflow: hidden;
  position: relative;
}

.new-responsive {
  min-width: 350px;
  transition: transform 0.5s ease-in-out;
}

/* Đặt vị trí của các slide dựa trên currentSlide */
/* .new-responsive:nth-child(1) {
  transform: translateX(calc(-100% * var(--currentSlide)));
}
.new-responsive:nth-child(2) {
  transform: translateX(calc(-100% * var(--currentSlide - 1)));
}
.new-responsive:nth-child(3) {
  transform: translateX(calc(-100% * var(--currentSlide - 2))); */ 
/* } */


}

@media screen and (max-width: 376px) {
  .nav_header{
      display : none ;
  }

  .header_nav{
      display : block;
  }
.nav__toggler {
  display: block;
  cursor: pointer;
}
.nav__menu {
  position: fixed;
  top: 10vh;
  /* right: 17px; */
  width: 60vw;
  background: #2B2E4A;
  flex-direction: column;
  transform: translateX(100%);
  transition: 0.5s ease-in;
  z-index: 10;
}

.font-nav{
  font-size: 15px;
}

.nav__link button{
  width: 131px;
}

.title_main h1{
  font-size: 15px !important;
  padding: 15px 20px !important;
}

.title_main span{
  padding: 0px 10px 
}
.footer_responsive{
  flex-direction: column !important;
  gap: 20px;
  padding: 30px 0 20px 20px;
}

.footer{
  height: 700px;
}

.footer img{
  width: 200px;
}


.nav__brand img{
  width: 150px;
}

.footer_responsive2 a, p{
  font-size: 20px;
}

.footer_responsive2 h1{
  font-size: 14px;
}

.lien_he{
  margin-left: 0 !important;
}

.session-main h1{
  font-size: 18px;
}

.session-main h3{
  font-size: 13px;
}

.session-main p{
  font-size: 11px;
}

.session-main button{
  font-size: 12px;
  width: 90px;
  padding: 6px;
}

.session{
  background-size: 376px !important;
  height: 185px !important;
}

.session-main{
  padding: 20px 0 0 20px !important;
  gap: 7px;
}
.nav{
  height: 75px;
}

.main{
  padding-top: 20px !important;
}

.main-car{
  flex-direction: column;
}

.new{
  flex-direction: column;
}

.new-responsive{
  width: 300px;
}

.new-content p{
  font-size: 15px;
}

.lien_he{
  width: 320px;
}

.lien_he input{
  width: 320px;
}

.lien_he textarea{
  width: 320px;
}

.main-responsive {
  width: 265px;

}

.main-responsive h1{
  font-size: 15px;
}

  .main-responsive p{
    font-size: 15px;
  }

  .newreposive{
    display: block;
  }

  .newreposive2{
    display: none;
  }

  .postR{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }

  .search-mana{
    margin-left: 0;
  }

  .search-mana i{
    right: 65px !important;
  }

  .postmain-res p{
    font-size: 15px;
  }

  .DetailResponsive{
    display: block;
  }
  
  .detail-main{
    display: none;
  }

  .EditUserResponsive{
    display: block;
  }

  .EditUser{
    display: none;
  }
}


/* Active Class */
.nav__active {
transform: translateX(0%);
z-index : 10;
padding-bottom: 20px;
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}


